<!DOCTYPE html>

<html lang="ru">

<head>

    <meta charset="UTF-8">
    <title>Загрузка изображений</title>

</head>

<body>

    <h2>Загрузите ваше изображение</h2>

    <form method="POST" enctype="multipart/form-data">

        <input type="file" name="image" accept="image/*" required>
        <br><br>
        <button type="submit">Загрузить</button> 
           
    </form>

{% if image_filename %}
    <h3>Результат</h3>

    <div style="display:flex; gap:30px;">

        <div>
            <p>Оригинал</p>
            <img src="/uploads/{{ image_filename }}" style="max-width:500px;">
        </div>

        {% if processed_image %}
        <div>
            <p>Обработанное</p>
            <img src="/uploads/{{ processed_image }}" style="max-width:500px;">
        </div>
        {% endif %}

    </div>

    <hr>

    <h3>Параметры обработки</h3>

    <form method="POST">

        <label>
            <input type="radio" name="function" value="sin" checked>
            sin
        </label>

        <label>
            <input type="radio" name="function" value="cos">
            cos
        </label>

        <br><br>

        <label>
            Период:
            <input type="number" name="period" value="50" min="1" step="1" required>
        </label>

        <br><br>

        <button type="submit">Применить</button>

    </form>
    
{% endif %}

</body>

</html>